<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="CNNSTR" connectionString="Server=KSS; DataBase=Progra5_2023_3_Inventario ; Integrated Security=true ; User Id=algunusuario ; Password= eewerteretr; "/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>